<meta name="viewport" content="width=device-width, initial-scale=1">
    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">


<div ng-init="loadUser()">
<table ng-model="mytable" class="table table-bordred table-striped">
  <thead>
        <th>First name</th>
        <th>Last name</th>
        <th>Address</th>
  </thead>
  <tbody>
       <tr ng-repeat="euser in users">
            <td>{{euser.first_name}}</td>
            <td>{{euser.last_name}}</td>
            <td>{{euser.address}}</td>
         </tr>    
  </tbody>

</table>
</div>
        
